
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #DDFD00;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: #333 ;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #2CB4DE;
}
p {
        bottom:0;
        text-align:center;
        background-color: #DDFD00
}